@model Student

@if (Model != null)
{
    ViewData["Title"] = "My Information";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Welcome, @Model.StudentName @Model.StudentSurname</h1>
                </div>
                <div class="card-body">
                    <h2>Your Student Information:</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Student No:</strong> @Model.StudentNo</li>
                        <li class="list-group-item"><strong>Email:</strong> @Model.EMail</li>
                        <li class="list-group-item"><strong>Midterm Exam:</strong> @Model.MidtermExam</li>
                        <li class="list-group-item"><strong>Final Exam:</strong> @Model.FinalExam</li>
                        <li class="list-group-item"><strong>Discontinuity:</strong> @Model.Discontinuity</li>


                        <li class="list-group-item"><strong>Your Last Message:</strong>
                           @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                @Model.Message
                            }
                            else
                            {
                                <span>No Message</span>
                            }

                        </li>


                        <li class="list-group-item">
                            <strong>Your Last Homework:</strong>
                            @if (!string.IsNullOrEmpty(Model.FileName))
                            {
                                string truncatedFileName = Model.FileName.Length > 10 ? Model.FileName.Substring(37) : Model.FileName;
                                <a href="@Url.Action("DownloadFile", "Student", new { fileName = Model.FileName })"> @truncatedFileName</a>
                            }
                            else
                            {
                                <span>No homework</span>
                            }
                        </li>
                    </ul>
                    @if (TempData["danger"] != null)
                    {
                        <div style="margin-top:10px;" class="alert alert-danger">
                            <strong>@TempData["danger"]</strong>
                        </div>
                    }

                </div>

            </div>

        </div>
    </div>
</div>
