@model List<Student>
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["success"]</strong>
    </div>
}

@if (Model != null)
{
    ViewData["Title"] = "Student List";
}

@if (TempData["danger"] != null)
{
<div class="alert alert-danger">
        <strong>@TempData["danger"]</strong>
</div>
}

<div class="container">
    <div class="row pt-3 pb-4">
        <div class="col">
            <h1>Students</h1>
        </div>
    </div>

    <table class="table table-bordered table-light">
        <thead class="">
            <tr class="table-secondary" align="center" valign="middle">
                <th>ID</th>
                <th>Student No</th>
                <th>Student E-Mail</th>
                <th>Student Name</th>
                <th>Student Surname</th>
                <th>Midterm Exam</th>
                <th>Final Exam</th>
                <th>Discontinuity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr align="center" valign="middle">
                    <td>@student.Id</td>
                    <td>@student.StudentNo</td>
                    <td>@student.EMail</td>
                    <td>@student.StudentName</td>
                    <td>@student.StudentSurname</td>
                    <td>@student.MidtermExam</td>
                    <td>@student.FinalExam</td>
                    <td>@student.Discontinuity</td>
                    <td>
                        <div class="btn-group" role="group" style="display:flex; justify-content:space-between">
                            <a asp-controller="Student" asp-action="AddUpdate" asp-route-id="@student.Id" type="button" class="btn btn-success">Update</a>
                            <a asp-controller="Student" asp-action="Message" asp-route-id="@student.Id" type="button" class="btn btn-primary">Message</a>
                            <a asp-controller="Student" asp-action="Upload" asp-route-id="@student.Id" type="button" class="btn btn-warning">Homework</a>
                            <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row pt-3">
        <div class="col">
            <a asp-controller="Student" asp-action="AddUpdate" class="btn btn-lg btn-primary" type="button">Add Student</a>
        </div>
    </div>
</div>
