@model List<Student>

@if (TempData["basarili"] != null)
{
	<h2 style="color:red">@TempData["basarili"]</h2>
}

<div class="container">

	<div class="row pt-3 pb-4">
		<div>
			<h1>Students</h1>
		</div>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Student No
				</th>
				<th>
					Student Name
				</th>
				<th>
					Student Surname
				</th>

			</tr>
		</thead>

		<tbody>
			@foreach (var student in Model)
			{
				<tr>
					<td>@student.Id</td>
					<td>@student.StudentNo</td>
					<td>@student.StudentName</td>
					<td>@student.StudentSurname</td>
				</tr>
			}
		</tbody>

	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="Student" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
				Add Student
			</a>
		</div>
	</div>

</div>